h2 {
    color: blue;
}

.img .img_1 {
    width: 870px;
    height: 610px;
    position: relative;
    top: 5;
    left: 630px;
}

canvas {
    position: absolute;
    top: 110px;
}

body {
    background-color: rgb(255, 255, 255) ;
}